<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Paginated HTML</title>
    <style>
      div.page
      {
        page-break-after: always;
        page-break-inside: avoid;
      }
    </style>
  </head>
  <body>
    <div class="page">
      <h2>Name : data[i].name</h2>
      <h4>Modified by : data[i].name</h4>
      <h4>Modified at : `${new Date(val[i].modifiedAt).getDate()}/ ${new Date(val[i].modifiedAt).getMonth()+1}/${new Date(val[i].modifiedAt).getFullYear()} at ${new Date(val[i].modifiedAt).getHours()}:${new Date(val[i].modifiedAt).getMinutes()}`</h4>
      <h4>Numbers</h4>
      for(let j = 0;j<data[i].numbers.length;j++)
      {
        <p>data[i].numbers[j]</p>
      }
    </div>
    </div>
  </body>
</html>